#page {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: #393d46;
  font-family: sans-serif;
}

  #text {
    padding: 25px;
    background-color: #535b6b;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
  }
