#page {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: #333;
  font-family: sans-serif;
}

#text {
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
}
